.row{
    padding-bottom: 100px;
    border: solid black 1px;
}

#player-1{
    border:  solid black 1px;
}

img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#chatContainer{
    margin-top: 30px;
    margin-bottom: 30px;
    background: white;
    padding: 50px;
    border: solid black 3px;
}